Source: linux-firmware-raspi3
Section: non-free/misc
Priority: optional
Maintainer: pkg-raspi <pkg-raspi-maintainers@lists.alioth.debian.org>
Uploaders: Michael Stapelberg <stapelberg@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/raspberrypi/firmware
Vcs-Git: https://anonscm.debian.org/git/pkg-raspi/linux-firmware-raspi3.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-raspi/linux-firmware-raspi3.git/

Package: linux-firmware-raspi3
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry Pi 3 GPU firmware and bootloaders
 This package contains all the proprietary files necessary to boot a
 Raspberry Pi 3 board.
 .
 Raspberry Pi is a trademark of the Raspberry Pi Foundation.
