Source: linux-firmware-raspi3
Section: non-free/misc
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/raspberrypi/firmware

Package: linux-firmware-raspi3
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry Pi 3 GPU firmware and bootloaders
 This package contains all the proprietary files necessary to boot a
 Raspberry Pi 3 board.
